<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tasker - Home</title>
  <script src="./script.js" defer></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js" defer></script>
  <link rel="stylesheet" href="./styles.css">
</head>

<body>
    <header>
      <div class="left-nav">
        <h1>T<span>a</span>sker</h1>
        <a href="#">Developer</a>
        <a href="#">Github</a>
        <a href="#">Contact</a>
      </div>
      <div class="right-nav">
        <a href="/login" class="login">Login</a>
        <a href="/register" class="register">Register</a>
      </div>
    </header>
    <section class="main-section">
      <h1>Tasker</h1>
      <p>Memorise your tasks with ease.</p>
      <a href="/register">Start Now!</a>
    </section>
</body>

</html>