<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <script src="./script.js" defer></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>

<body>
  <h1>Tasks</h1>
  <div id="tasks">
    <% if(args[0] != null) {%>
    <form action="/tasks" method="POST" id="doneTask">
      <% for(i = 0; i < args.length; i++) { %>
      <div>
        <label for="checked"><%= args[i] %></label>
        <input type="checkbox" name="checked" value="<%= i %>" id="checked">
      </div>
      <% } %>
      <button type="submit">Submit</button>
    </form>
    <% } else { %>
    <p>No Tasks Yet.</p>
    <% } %>
  </div>
</body>

</html>