<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="./styles.css">
  <script src="./script.js" defer></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>

<body>
  <h1>Tasks</h1>
  <div id="tasks">
    <form action="/tasks" method="POST" id="doneTask">
      <% if(args[0] !== undefined) {%>
      <% for(i = 0; i < args.length; i++) { %>
      <div>
        <label for="checked"><%= args[i].task %> - <%= args[i].since %> </label>
        <input class="single-checkbox" type="checkbox" id="checked" name="checked" value="<%= i %>" id="checked">
      </div>
      <% } %>
      <button type="submit">Submit</button>
      <% } else { %>
      <p>No Tasks Yet.</p>
      <% } %>
    </form>
  </div>
</body>

</html>